@charset "utf-8";
/* CSS Document */

/*------------------------------------------------------------------
[Table of contents]
1. Main
2. Form
3. Separation
4. Previsualisation
-------------------------------------------------------------------*/


/* =1. Main
--------------------------------------------------------------------------------------------------------*/

html { overflow: -moz-scrollbars-vertical; overflow-y: scroll; -webkit-font-smoothing: antialiased; height:100% }
body { font: 15px Georgia, "Times New Roman", Times, serif; color:#555; background:#000; height:100%  }

/* End Main
--------------------------------------------------------------------------------------------------------*/


/* =2. Form
--------------------------------------------------------------------------------------------------------*/

form { position:absolute; left: 1%; width: 36%; background-color: #ffffff;}

/* End Form
--------------------------------------------------------------------------------------------------------*/


/* =3. Separation
--------------------------------------------------------------------------------------------------------*/

#separation { position:absolute; left:38%; right: 62%; top:1px; bottom: 1px; width: 1px; background-color: #ffffff; }

/* End Separation
--------------------------------------------------------------------------------------------------------*/


/* =4. Previsualisation
--------------------------------------------------------------------------------------------------------*/

#previsual { position:absolute; right:1%; width: 60%; background-color: white; align-content: center;}

/* End Previsualisation
--------------------------------------------------------------------------------------------------------*/

